/* -- Imports -- */

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;300;400&display=swap');

:root {
    --black-color: #131313;
    --text-color: #bbbbbb;
    --green: #40cf8e;
}

::selection {
    color: var(--black-color);
    background: var(--green);
}

body {
    background-color: var(--black-color);
    color: var(--text-color);
    font-weight: 300;
    letter-spacing: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    transition: all .2s ease;
}

main {
    margin: auto;
    max-width: 1300px;
    padding: 25px;
}

nav {
    position: relative;
    text-align: center;
    justify-content: center;
    font-size: 20px;
    margin: auto;
    padding-top: 15px;
}

nav.main.navigation {
    width: 500px;
}

div.nav-content {
    position: relative;
    align-items: center;
    justify-content: center;
    /* border: 1px solid rgba(255, 255, 255, 0.363); */
    border-radius: 25px;
    padding: 10px;
}

.nav-content a {
    color: var(--text-color);
    padding: 10px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.nav-content a:hover {
    color: white;
}

.brief-about {
    position: relative;
    display: flex;
    margin-right: 200px;
    margin-left: 200px;
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center;
    justify-content: center;
    font-size: 30px;
    font-family: IBM Plex Sans, sans-serif;
}

span.white {
    color: white;
}
span.green {
    color: var(--green);
}
span.greeting {
    color: var(--green)
}

.projects-container span {
    box-sizing: border-box;
    border: 1px solid #9c929285;
    padding: 5px;
    background-color: rgb(27, 23, 23);
    border-radius: 3px;
    cursor: default;
    user-select: none;
}
.projects-container span:hover {
    color: var(--green);
}

hr {
    width: auto;
    max-width: 1300px;
}
.copyrights {
    margin: auto;
    max-width: 1300px;
    font-size: 15px;
}